.App {
  text-align: center;
  background-color: #66bb6a;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.accent{
  color: #f44336;
}

.Kalender {
  height: inherit;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;;
  background-color: #c5e1a5;
  color: black;
  font-size: calc(10px + 2vmin);
}

.Kalenderprintable {
  height: inherit;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;;
  background-color: #dcedc7;
  color: black;
  font-size: calc(10px + 2vmin);
}

.KalenderPage{
  min-height: 100vh;
  max-width:760px;
  margin: 0 auto;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  background-color: #c5e1a5;
  color: white;
  font-size: calc(10px + 2vmin);
}

.KalenderprintPage{
  min-height: 100vh;
  max-width:760px;
  margin: 0 auto;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  background-color: #dcedc7;
  color: white;
  font-size: calc(10px + 2vmin);
}


.LandingPage{
  min-height: 100vh;
  max-width:760px;
  margin: 0 auto;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;

  background-color: #dcedc7;
  color: white;
  font-size: calc(10px + 2vmin);
}

.KalenderSelection{
  background-color: #66bb6a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.KalenderOption{
  background: transparent;
  text-align: center;
  color: white;
  border:3px dashed #f44336;
  vertical-align: middle;
  min-width: 2rem;
  height: 2rem;
  padding: 1.5rem;
  font-size: x-large;
  text-decoration-line: none;
}

.Luke {
  text-align: center;
  vertical-align: middle;
  
  width: 2rem;
  height: 2rem;
  padding: 2.7rem;
  margin: 1rem;

  background: transparent;
  color: #616161;
  border:3px dashed #f44336;
  font-size: x-large;
  text-decoration-line: none;
}

.Luke:hover {
  background: #dcedc8;
  font-size: xx-large;
}

@media only screen and (max-width: 600px){
  .Luke {
    text-align: center;
    vertical-align: middle;
    
    width: 1.8rem;
    height: 1.8rem;
    padding: 2rem;
    margin: 1rem;

    background: transparent;
    color: #616161;
    border:3px dashed #f44336;
    font-size: x-large;
    text-decoration-line: none;
  }
}

.QrLuke{
  text-align: center;
  vertical-align: middle;
  
  width: 7.4rem;
  height: 7.4rem;
  margin: 1rem;

  background: transparent;
  color: #f44336;
  border:3px dashed #f44336;
  font-size: x-large;
  text-decoration-line: none;
}

.QRcode{
  width: 7.4rem;
  height: 7.4rem;
}

.Luker {
  background-color: #f1f8e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #f44336;
}


.LukePage{
  min-height: 100vh;
  max-width:760px;
  margin: 0 auto;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  background-color: #c5e1a5;
  color: white;
  font-size: calc(10px + 2vmin);
}

.tittel{
  width: 100%;;
}

.Starttekst, .Slutttekst{
  margin: 2.5rem;
}

.videoContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 2.5rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
